In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from tensorflow.keras.activations import relu,sigmoid
from tensorflow.keras.layers import LeakyReLU

In [2]:
dataset = pd.read_csv('modified_data.csv')

In [3]:
dataset

,pH,tm,num_of_sequences,A,C,D,E,F,G,H,...,R,S,T,V,W,Y,X,B,Z,J
0,7.0,75.7,341,45,1,13,30,13,38,3,...,25,11,14,37,4,3,0,0,0,0
1,7.0,50.5,286,28,0,10,52,6,18,4,...,30,14,12,13,3,3,0,0,0,0
2,7.0,40.5,497,50,9,27,32,21,65,11,...,31,33,30,30,3,16,0,0,0,0
3,7.0,47.2,265,20,5,19,29,12,16,7,...,10,16,19,14,3,4,0,0,0,0
4,7.0,49.5,1451,86,14,78,78,32,84,40,...,63,148,120,124,16,47,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27764,7.0,51.8,549,33,12,38,31,18,51,15,...,42,33,18,42,13,18,0,0,0,0
27765,7.0,37.2,469,37,5,21,29,22,27,22,...,25,37,26,34,5,14,0,0,0,0
27766,7.0,64.6,128,13,1,7,7,7,11,2,...,3,10,6,7,4,4,0,0,0,0
27767,7.0,50.7,593,47,5,34,36,23,52,11,...,25,51,32,48,3,18,0,0,0,0
27768,7.0,37.6,537,34,5,15,32,26,24,21,...,28,34,29,38,18,29,0,0,0,0

In [5]:
y = dataset['tm']
X = dataset.drop(['tm'], axis=1)

0        75.7
1        50.5
2        40.5
3        47.2
4        49.5
         ...
27764    51.8
27765    37.2
27766    64.6
27767    50.7
27768    37.6
Name: tm, Length: 27769, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [25]:
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV

In [39]:
def create_model(layers, activation):
    model = Sequential()
    for i,nodes in enumerate(layers):
        print(layers)
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
        model.add(Dense(1))
        
        model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
        return model
        
    
model = KerasRegressor(build_fn=create_model, verbose=0)

In [40]:
model

In [118]:
layers = [[10,25,30]]
activations = ['softmax']
param_grid = dict(layers=layers, activation=activations, batch_size=[64], epochs=[10])
grid = GridSearchCV(estimator=model, param_grid=param_grid)

In [119]:
grid_result = grid.fit(X_train, y_train)

[10, 25, 30]
[10, 25, 30]
[10, 25, 30]
[10, 25, 30]
[10, 25, 30]
[10, 25, 30]

In [120]:
[grid_result.best_score_,grid_result.best_params_]

[455.2186279296875,
 {'activation': 'softmax',
  'batch_size': 64,
  'epochs': 10,
  'layers': [10, 25, 30]}]

In [121]:
pred_y = grid.predict(X_test)

In [122]:
y_test

1781     35.2
23092    37.7
20859    38.8
5127     71.1
16767    52.3
         ...
26514    40.4
20139    48.5
22688    36.1
18662    75.4
3972     46.1
Name: tm, Length: 5554, dtype: float64

In [123]:
pred_y.max()

1.6511173

In [124]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
mse = mean_squared_error(y_test,pred_y)
r2 = r2_score(y_test,pred_y)
print(mse,r2)

2653.523570917781 -17.415587052105966

2382.0683450142965